body {
    font-family: "Lucida Console", monospace;
    background-color: #272429;
    color: #eed4c4;
    align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h1 { text-align: center; }
a { color: #ae9ecc; }
ul { list-style-type: circle; }
