body {
    font-family: "Lucida Console", monospace;
    color: #603f26;
    background-color: #ffdbb5;
    align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h1 { text-align: center; }
a { color: #6c4e31; }
ul { list-style-type: circle; }
